.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 

  
  .addTask {
    height: 45px;
    bottom: -123px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  
  .addTask input {
    height: 100%;
    flex: 1;
    color: #ffffff;
    background: #858585;
    border: 1px solid #858585;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
  }
  
  .addTask input::placeholder {
    color: #ffffff;
  }
  
  .addTask button {
    height: 100%;
    padding: 0 16px;
    background: #1E6F9F;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
  }
  
  @media (max-width: 1200px) {
    .addTask {
      width: 90%;
    }
  }
  
  @media (max-width: 992px) {
    .addTask {
      width: 95%;
    }
  
    .addTask input, .addTask button {
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .addTask {
      gap: 6px;
      bottom: -100px; 
    }

  }
  
  @media (max-width: 360px) {
    .addTask {
        flex-direction: column;

        gap: 6px;
        bottom: -100px; 
      }
    
      .addTask input {

        width: 100%;
        height: 100%;
        font-size: 16px;

        }
        .addTask button{
            width: 25%;
            height: 100%;
      }
  }
}