  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 16px;
    position: relative;
    max-height: 330px;
    padding-bottom: 2px;
    gap: 8px;
  }

  .emptyTasks {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #bcbcbc;
  }

  @media (max-width: 576px) {

    .emptyTasks {
      font-size: 1.3rem;
    }

  }