/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: aqua;

} */

.tasks {
  display: contents;
    max-width: 736px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 1rem;
    background-color: #8284FA;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }