.header {
    background: #1E6F9F;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100px;
    color: white;
    font-size: 2rem; 
        gap: 20px;

  }

  .completedTasks{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
  }

  .subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E6F9F;
    font-size: 2rem; 
  }
  
  @media (max-width: 1200px) {
    .header {
      height: 80px;
      font-size: 1.75rem;
    }
  }
  
  @media (max-width: 992px) {
    .header {
      height: 70px;
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .header {
      height: 60px;
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 576px) {
    .header {
      height: 50px;
      font-size: 1rem;
    }
  }
  